.env
/.history
/backend-python/main/__pycache__
node_modules/
/backend_python/__pycache__
/backend_python/main/__pycache__
/backend_python/database/__pycache__
/backend_python/agents/__pycache__
/backend_python/main/routes/__pycache__
/backend_python/apply_agent/__pycache__
/backend_python/data_dump/playwright_persistent